h1{
font-family: $Playfair;
font-size: $xx-large;
font-style: italic;
margin-left: auto;
margin-right: auto;
display: block;
}

h2{
    font-size: $x-large;
    font-family: $Playfair;
    font-style: italic;
    color: $eerie-black;
    padding-top: 40px;
}

h3{
    font-size: $large;
    font-family: $Playfair;
    font-style: italic;
    color: $nickel;
    padding-bottom: 30px;
}

p{
    font-family: $Roboto;
    font-style: sans-serif;
}