.header {
    margin: 0;
    padding: 0;
}

.main {
   color: $white;
   font-weight: $grueso;
   margin-bottom: auto;
   margin-right: auto;

}

.main__container {
  background: url('../img/post-image.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 500px;
}

.main__container__title {
  padding-top: 100px;
}
