.article{
    padding: 50px;
}

.article__container__parrafo{
    padding-right: 30px;
    padding-top: 20px;
    font-family: $Roboto;
    font-style: sans-serif;
}

.container__bloguera__img{
border-radius: 50%;
width:70%;
padding-bottom: 30px;
}

.container__texto {
    font-style: sans-serif;
    padding-top: 30px;
    font-family: $Roboto;
}
.container__bloguera__rrss{
    font-family: $Roboto;
}


