
.container {
  padding-bottom: 30px;
}


.container__bloguera__img {
border-radius: 50%;
width: $small-size;
vertical-align: middle;
text-align: center;
border: 3px solid $light-gray;
margin: 10px;
}

.container__texto {
    font-style: sans-serif;
    padding-top: 30px;
    font-family: $Roboto;
}
.container__bloguera__arroba {
    font-family: $Roboto;
    margin-bottom: 0;
}
